################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Api/obj/Release/net7.0/Api.csproj.AssemblyReference.cache
/BusinessLogic/obj/Release/net7.0/BusinessLogic.csproj.AssemblyReference.cache
/.vs/Api/v17/.suo
/Api/obj/Release/net7.0/Api.dll
/Api/obj/Release/net7.0/Api.pdb
/Api/bin/Release/net7.0/Api.pdb
/Api/bin/Release/net7.0/Api.dll
/.vs/Api/FileContentIndex/e5b5cc21-4966-4adf-b143-4941ddc3598b.vsidx
/Api/bin
/Api/obj
/Api/Logs
/Api/Logs/app_log20250523.txt
DB/bin/Debug/net7.0/DB.pdb
*.dll
*.pdb
*.cache
*.vsidx


/DB/obj/project.nuget.cache
/DB/obj/project.assets.json
/DB/obj/Release/net7.0/ref/DB.dll
/BusinessLogic/obj
/DB/bin
/.vs/Api
/BusinessLogic/bin
/DB/obj
